.skills-section {
  padding: 80px 0;
  background-color: #121212; 
  /* background-image: url('../../public/skills.jpg'); */
  background-size: cover;
  color: white;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 50px;
}

.slider-container {
  max-width: 90%;
  margin: 0 auto;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.progress-svg {
  transform: rotate(-90deg);
  margin-bottom: 20px;
}

.progress-circle-bg {
  fill: none;
  stroke: #333;
  stroke-width: 10px;
}

.progress-circle-fg {
  fill: none;
  stroke: #6f37de;
  stroke-width: 10px;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.8s ease-in-out;
}

.percentage-text {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: bold;
}

.skill-label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 5px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: #9370DB !important;
  opacity: 1;
}